*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffffff;
}

header{
    padding-bottom: 500px;
}

#video-jogja {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%; 
}

.hero-content {
    position: absolute;
    width: 100%;
    padding-top: 100px;
    margin-left: 74px;
    margin-top: 40px;
}

#img-logo-jogja{
      max-width: 138px;
      float: left;
      padding-right: 27px;
}

.title{
    padding-top: 27px;
}
#title1{
    font-weight: normal;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 0px;
}

#title2{
    font-weight: bold;
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 0px;
}

#title3{
    font-weight: normal;
    font-style: italic;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 0px;
}

.sub-heading{
    padding: 0px;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 7px;
    margin: auto;
}

.page-scroll{
    color: #444444;
}

.page-scroll:hover{
    color: #5e5e5e;
    text-decoration: none;
}

.navbar{
    background-color: rgba(254, 244, 244, .1);
    padding:0px 50px 0px;
}

.navbar.scroll{
    background-color: #DA251D;
}

.navbar-brand img{
    max-width: 150px;
}

.navbar-light .navbar-nav .nav-link{
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #FFD2D2;
}

.navbar-light .navbar-nav .nav-link.active{
    font-weight: bold;
    color: #FFD2D2 !important;
}

.navbar-light .navbar-nav .nav-link.active:hover{
    font-weight: bold;
    color: #ffffff !important;
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    height: 58x;
    width: 120px;
}

.btn-login{
    background-color: #FFD2D2;
    color: #DA251D;
}

.btn-login:hover{
    background-color: #e05f59;
    color: #DA251D;
}

.jc-text{
    text-align: left;
}

.about-jc{
    padding: 10px 10px 30px;
}

.jc-detail{
    align-items: center;
    padding-left: 50px;
}

.jc-text{
    padding-top: 100px;
}

#jc-text1{
    font-weight: lighter;
    letter-spacing: 7px;
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
    right: -70px;
}

#jc-text1::before{
    content: " ";
    position: absolute;
    border-bottom: 1px solid #707070;
    width: 50px;
    left: -70px;
    top: 50%;
}

#jc-text2{
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 58px;
    margin-bottom: 0px;
}

#jc-text3{
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 0px;
}

#hero-img{
    max-height: 400px;
}


.dimensi-jc{
    padding-top: 50px;
    background-color: #FEF4F4;
    margin-left: 0px;
    margin-right: 0px;
}

.content-dimensi{
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 80px;
}

hr{
    border: 2px solid #FF7676;
    width: 160px;
    align-items: center;
    margin: auto;
}

#heading1{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0px;
}

#heading2{
    font-size: 16px;
    font-weight: lighter;
}

.dimensi-slide{
    padding-top: 20px;
    display: flex;
    /* overflow: hidden; */
}

.group-slide{
    display: flex;
    overflow: hidden;
}
.group-slide img{
    max-width: 50%;
    margin: auto;
    padding-left: 50px;
}

.content-resume{
    padding: 70px 80px 80px;
}

.sub-heading-resume{
    padding-top: 50px;
    margin: auto;
}

.sub-resume{
    padding: 0px 50px 0px;
}

#img-resume{
    max-width: 80px;
    float: left;
    padding-right: 20px;
}

#sub-heading1{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px;
}

#sub-heading2{
    font-weight: lighter;
    font-size: 12px;
    margin-bottom: 0px;
}

.direktori-analisis{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FEF4F4;
}

.content-analisis{
    padding-top: 30px;
}

.card{
    margin: auto;
    max-width: 900px;
}

.img-card{
    max-width: 250px;
    float: left;
    padding: 20px;
}

.card-body{
    padding-left: 50px;
}

#title-card{
    font-weight: bold;
    font-size: 16px;
}

#text-card{
    font-weight: normal;
    font-size: 14px;
}

.tag{
    font-size: 12px;
    font-weight: lighter;
    border-radius: 20px;
    border: none;
    background-color: #FEF4F4;
    color: #DA251D;
    padding: 5px 14px 5px;
}

.btn-more{
    border: none;
    background-color: #DA251D;
    padding: 10px 12px 10px;
    color: #ffffff;
    font-weight: normal;
    font-size: 14px;
}

.contact{
    padding: 40px 100px 40px;
    background-color: #444444;
}

h3{
    color: #DA251D;
    padding-bottom: 20px;
}

.img-contact{
    max-width: 20px;
    padding-right: 5px;
}

.list-contact{
    font-size: 16px;
    color: #A7A7A7;
    font-weight: lighter;
}

.link-contact{
    color: #DA251D;
}

.form-group input[type=name],
.form-group input[type=email]{
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #707070;
    outline: none;
    background: transparent;
    color: #BFBFBF;
}

.form-group ::-webkit-input-placeholder{
    color: #BFBFBF;
}

.form-group textarea{
    border: none;
    border-bottom: 1px solid #707070;
    border-radius: 0px;
    outline: none;
    background: transparent;
    color: #BFBFBF;
}


.btn-submit{
    background-color: #DA251D;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.copyright{
    background-color: #606060;
    margin-bottom: 0px;
}

.copyright p{
    margin-bottom: 0px;
}

.copyright img{
    max-width: 160px;
}
.copyright p{
    color: #BFBFBF;
    font-size: 18px;
    font-weight: normal;
}